<#include "/common/head.html">
<link href="${base}/css/popup.css" rel="stylesheet" type="text/css">
<!--右侧内容区-->
<div class="rightcon clear">
    <div class="searchpositon searchpositonpd" >
	    <div class="search"> 
	        <h3 class="manaicon search-head">查询</h3>
	        <div class="search-bar">
	          <input name="keywords" id="js_name" placeholder="请输入姓名" type="text" class="search_input">
				<input value="查询" class="comBtn btn-small" type="button" id="js_doSearch"> 
			</div>
		</div>
	</div>
	<div class="tablewrap tablewrapwidth pt" >
		<div class="data_table datatableheight" >
			<h3 class="manaicon table-head">列表</h3>
			<div class="tableBox" id="complain-list-content">
				
			</div>	
		</div>
	</div>
	<!--分页-->
	<div class="bottom ">
		<div class="js_pageDiv"> &nbsp; </div>
	</div>
</div>
<!--投诉咨询列表-->
<script id="complain-list" type="text/x-handlebars-template">
		<table style="width:100%" cellspacing="0"> 
		<thead>
           	 <tr class="title"> 
				<td width="10%"><input type="checkbox" class="checkall"></td>
           		<td width="10%">姓名</td>
           		<td width="10%">邮箱</td>
            	<td width="10%">联系电话</td> 
            	<td width="20%">咨询内容</td> 
            	<td width="10%">是否处理</td> 
           	 	<td width="10%">更新时间</td>
            	<td width="10%">模块区别id</td>
           		<td width="10%">操作</td>
         	 </tr> 
         </thead>
			<tbody>
				{{#if dataList}}
				{{#each dataList}}
					<tr>
						<td><input type="checkbox" class="checkbox js_check_row"></td>
						<td>{{uname}}</td>
                        <td>{{email}}</td>
                        <td>{{mobile}}</td>
                        <td>{{content}}</td>
                        <td>
                    	 {{#if reply}}已处理
                  		 {{else}}处理中
						 {{/if}} 
                        </td>
                   <td>{{formatDate createDate "default"}}</td>
                        <td>{{complainId}}</td>

                <td class="operate">
					</span><span class="del_minsu"><a href="javascript:void(0)" class="js_delete_row" dataId="{{id}}">删除 |</a></span>
					{{#if reply}}
						<span><a href="javascript:;" class="js_consult_look" dataId="{{id}}"complainId="{{complainId}}">查看回复</a>
					{{else}}
						<span><a href="javascript:;" class="js_consult_handle" dataId="{{id}}"complainId="{{complainId}}">处理</a>
					{{/if}} 
          		  </td> 
					</tr>
				{{/each}}
				{{else}}
					<tr>
						<td colspan="9">暂无数据</td>
					</tr>
				{{/if}}
			</tbody>
		</table>
		 <!--分页-->
        <div class="bottom">
            <div class="js_pageDiv">
                <span class="disabled">&lt;上一页</span>
                <span class="pageCur">1</span>
                <span class="disabled">下一页&gt;</span>
                <span class="pageTotal">共1页</span>
                <span class="countYe">
					        到第<input type="text" value="1" maxlength="1"/>页
					  <a href="javascript:;" class="turnDown">确定</a>
					  <span> </span>
				</span>
            </div>
        </div>
	</script>
      
  <!--留言处理弹窗-->
<div class="popup js_popUpconsults" id="consult-save-content"> &nbsp; </div>
<script id="consult-save" type="text/x-handlebars-template">
    <div class="popup_bg"> &nbsp; </div>
		<div class="popup_box">
			<div class="popup_bt">{{popUp.titleName}}<a class="popupclose js_popUpClose" href="javascript:; "> &nbsp; </a></div>
			<div class="popupform">
				<form id="addsiteform" name="addsiteform" method="post" >
					<input id="id" type="hidden" value="{{complainVo.id}}">
					<p class="formfill">
						<label style="left: -10px;">咨询内容：</label>
						<span class="question">{{complainVo.content}}</span>
						</p>
                         <p class="formfill">
						<label class="fl" style="left: -10px;">回复内容：</label>
						<textarea class="wordsarea" id="reply"  >{{complainVo.reply}}</textarea>
						</p> 
					<div class="formsubmit">
						<input type="button" value="取消" class="quit formbtn js_popUpClose">
						<input type="button" value="保存" class="save formbtn js_popUpSubmit">
					</div>
				</form>
			</div>
		</div>
</script>

<!--查看回复弹窗-->
<div class="popup js_popUpconsult" id="consult-look-content"> &nbsp; </div>
<script id="consult-look" type="text/x-handlebars-template">
    <div class="popup_bg"> &nbsp; </div>
		<div class="popup_box">
			<div class="popup_bt">{{popUp.titleName}}<a class="popupclose js_popUpClose" href="javascript:; "> &nbsp; </a></div>
			<div class="popupform">
				<form id="addsiteform" name="addsiteform" method="post" >
					<input id="id" type="hidden" value="{{complainVo.id}}">
					<p class="formfill">
						<label style="left: -10px;">咨询内容：</label>
						<span class="question">{{complainVo.content}}</span>
						<!--<input id="content"   readonly="true" type="text" class="commtext" value="{{complainVo.content}}">-->
						</p>
                         <p class="formfill">
						<label class="fl" style="left: -10px;">回复内容：</label>
						<textarea class="wordsarea" id="reply" readonly="true">{{complainVo.reply}}</textarea>
						</p> 
					<div class="formsubmit">
						<input type="button" value="取消" class="quit formbtn js_popUpClose">
						<input type="button" value="保存" class="save formbtn js_popUpSubmit">
					</div>
				</form>
			</div>
		</div>
</script>
<#include "/common/foot.html">                              
<script type="text/javascript">
require(['common/head','tool/feedback/consultlist'],function(head,consultlist){
	head.init('module006002002');
	consultlist.init();
  });
</script>
