<#include "/common/head.html">
  <!--右侧内容区-->
  <div class="rightcon clear" >
    <div class="searchpositon searchpositonpd" >
      <div class="search"> 
        <h3 class="manaicon search-head">查询</h3>
        <div class="search-bar">
		  <input id="selectAreaId" type="hidden">
		  <input id="rootAreaId" value="${(rootAreaId)!''}" type="hidden">
		  <label>选择区域</label><select id="selProvince"><option>省</option></select><select id="selCity"><option>市</option></select><select id="selectCountry"><option>区</option></select>
          <label>上架状态</label><select id="showStatus"><option value="">请选择</option><option value="open">上架</option><option value="close">下架</option></select>
          <label>查询条件</label><input name="keywords" placeholder="请输入名称" type="text" class="search_input js_search_input">
          <input value="搜索" class="comBtn btn-small searchbtn js_searchbtn" type="button"/>
        </div>
      </div>
    </div>
    <div class="tablewrap tablewrapwidth pt" >
		<div class="data_table datatableheight" >
	    	<h3 class="manaicon table-head">列表<a class="pubspecialty btn-big comBtn fr" href="edit.html" target="blank">添加</a></h3>
			<div class="tableBox" id="native-list-content">
	    	</div>
    	</div>
    </div> 
    <script type="text/x-handlebars-template" id="native-list">
	    <table style="width:100%" border="0" cellspacing="0"> 
	        <thead>
	          <tr class="title"> 
	            <td width="10%"><input type="checkbox" class="checkall js_check_all"/></td>
	            <td width="15%">名称</td>
	            <td width="15%">分类</td>
	            <td width="10%">价格</td> 
	            <td width="10%">优惠价格</td> 
	            <td width="10%">库存</td>
	            <td width="10%">销量</td>
	            <td width="10%">状态</td>
	            <td width="10%">操作</td> 
	         </tr> 
	        </thead>
	        <tbody id="sortable">
			{{#if dataList}}
				{{#each dataList}}
					<tr class="ui-state-default" dataId="{{prodVo.id}}">
						<td><input type="checkbox" class="checkbox js_check_row"/></td>
						<td>{{prodVo.name}}</td>
						<td>{{prodVo.prodTypeVo.name}}</td>
						<td>{{prodVo.price}}</td>
						<td>{{prodVo.preferentialPrice}}</td>
						<td>{{prodVo.freeNum}}</td>
						<td>{{prodVo.saleNum}}</td>
						<td class="onsalestadus"><span class="style2">{{#equals prodVo.status 'open'}}上架{{/equals}}</span><span class="style1">{{#equals prodVo.status 'close'}}下架{{/equals}}</span></td>
						<td class="operate"><span class="onsale">{{#equals prodVo.status 'open'}}<a href="javascript:void(0)" class="js_off_sale" dataId="{{prodVo.id}}">下架{{/equals}}</a>
							{{#equals prodVo.status 'close'}}<a href="javascript:void(0)" class="js_on_sale" dataId="{{prodVo.id}}">上架{{/equals}}</a> |</span><span class="edit_article"><a href="edit.html?prodVo.id={{prodVo.id}}" target="_blank">编辑</a> |</span><span class="del_article"><a href="javascript:void(0)" class="js_delete_row" dataId="{{prodVo.id}}">删除</a> </span></td>
					</tr>
				{{/each}}
				{{else}}
				<tr>
					<td colspan="5">暂无数据</td>
				</tr>
			{{/if}}
	        </tbody>
	  	 </table>
    </script>
     <!--分页-->
     <div class="bottom ">
		 <div class="tableoperate">
		 	<input type="button" value="删除" class="btn-small comBtn js_delBtn" id="banchdeleterow">
		 	<input type="button" value="修改分类" class="btn-big comBtn js_updateType" />
		 	<input type="button" value="排序上升" class="btn-big comBtn js_sort_Up"/>
		 	<input type="button" value="排序下降" class="btn-big comBtn js_sort_Down"/>
            <input type="button" value="保存排序" class="btn-big comBtn savesort js_saveSort">
		 </div>
	     <div class="js_pageDiv"></div>
	 </div>
	 <div class="popup js_pop_updateType">   
	 	<div class="popup_bg"></div>
		    <div class="popup_box questionbox">
		      <div class="popup_bt"><span>修改分类</span><a class="popupclose js_popUpClose" href="javascript:void(0)"></a></div>
		      <div class="popupform">
				  <p class="formfill">
						<label><span class="style1">*</span>所属分类</label>
						<select class="commtext js_typeSelect fl" id="typeSelect">
			              <option value="">请选择</option>
			            </select>
		          </p>
		         <div class="formsubmit"><input type="button" value="取消" class="quit formbtn js_popUpCancel"><input type="button" value="保存" class="save formbtn js_popUpSubmit" id="genresubmit"></div>
		      </div>
		    </div>
		  </div>
	 </div>
<#include "/common/foot.html">                              
<script type="text/javascript">
require(['common/head','prod/native/list','common/area'],function(head,nativeList,area){
	head.init('module005002001');
	nativeList.init();
	area.init();
  });
</script>

