<#include "/common/head.html">
<link href="${base}/css/popup.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="${base}/js/plugin/diyUpload/css/webuploader.css">
<link rel="stylesheet" type="text/css" href="${base}/js/plugin/diyUpload/css/diyUpload.css"> 
<link rel="stylesheet" href="${base}/js/plugin/ztree/zTreeStyle/zTreeStyle.css" type="text/css">
  <!--右侧内容区-->
  
  <div class="rightcon clear" > 
    <div class="tablewrap pt">
      <div class="search searchpositon"> 
        <h3 class="manaicon search-head">查询</h3>
        <div class="search-bar ">
         <input name="keywords" placeholder="标题/摘要" type="text" class="search_input" id="js_name"/>
         <input value="查询" class="comBtn btn-small searchbtn" type="button" id="do_search"/>
        </div>
      </div>
      <div class="data_table datatableheight">
         <h3 class="manaicon table-head">列表</h3>
         <div class="tableBox">
	         <div class="picmateriallist clear" id="resource-list">
	         </div>
         </div>
         <script id="resource-list-content" type="text/x-handlebars-template">
         <table style="width:100%" border="0" cellspacing="0"> 
         <thead>
           <tr class="title"> 
             <td width="5%"><input type="checkbox" class="checkall js_check_all"/></td>
             <td width="15%">视频名称</td> 
             <td width="25%">视频播放</td> 
             <td width="15%">视频解说</td> 
             <td width="15%">更新日期</td> 
             <td width="10%">上传人</td>
             <td width="15%">操作</td>
          </tr> 
         </thead>
         <tbody>
         {{#if dataList}}
         {{#each dataList}}
         <tr>
             <td><input type="checkbox" class="checkbox js_check_row"  dataId={{id}}></td>
             <td>{{name}}</td>
             <td>

                 <div class="video">
                     <video  class="playbtn js_video_play"  src={{filePath}} controls style="width:100%;height:100%; object-fit:fill;" ></video>
                     <!--<img src="../../images/pic1.jpg"/>-->
                     <!--<span class="playbtn js_video_play"></span>-->
                 </div>
             </td>
             <td>{{description}}</td>
             <td>{{formatDate modifyDate "default"}}</td>
             <td>py</td>
             <td class="operate"><span class="edit"><a href="javascript:void(0)" class="js_video_edit" dataId={{id}} vedioName={{name}} fileext={{fileExt}}  vedioImgfile={{filePath}} {{#if link}} vedioLink={{link}} {{/if}} vedioDescription={{description}}>编辑</a> |</span><span class="del_minsu"><a href="javascript:void(0)" class="js_delete_row" dataId={{id}}>删除</a></span></td>
         </tr>
         {{/each}}
         {{else}}
         <tr>
             <td colspan="9">暂无数据</td>
         </tr>
         {{/if}}
         </tbody>
        </table>
      </script>
      </div> 
      <!--分页-->
      <div class="bottom ">
		   <div class="tableoperate" ><input type="button" value="删除" class="btn-small comBtn js_banch_delete" /><input type="button" value="本地上传" class="btn-big comBtn js_video_upload"/></div>
	       <div class="js_pageDiv">
				<!--<span class="disabled">&lt;上一页</span>-->
				<!--<span class="pageCur">1</span>-->
				<!--<span class="disabled">下一页&gt;</span>-->
				<!--<span class="pageTotal">共1页</span>-->
				<!--<span class="countYe">-->
				           <!--到第<input type="text" value="1" maxlength="1"/>页-->
				  <!--<a href="javascript:;" class="turnDown">确定</a>-->
				  <!--<span> </span>-->
				</span>
	       </div> 
       </div>
    </div>           
  </div>
  <!--视频上传-->
<div class="popup js_popUpupuploadvideo" id="uploadvideo-save-content"> &nbsp; </div>
<script id="uploadvideo-save" type="text/x-handlebars-template">
	  <div class="popup_bg"></div>
	  <div class="popup_box popupheight1">
	    <div class="popup_bt">本地上传<a class="popupclose js_popUpClose" href="javascript:void(0)"></a></div>
	    <div class="popupform">
	      <form id="addsiteform" name="addsiteform" method="post" >
	        <div class="formfill clear">
		 	 <label class="fl">选择文件：</label>
         	 <div class="parentFileBox fl">
          		  <div class="fileBoxUl fileupload clear" >
             		 <div id="" class="uploadpic fl"></div>
           		 </div> 	
             </div>
		    </div>
	        <p class="formfill"><label>文件名称：</label><input name="filename" type="text" class="commtext " id="js_file_name"/><label>外链：</label><input type="text" class="commtext js_uploadLink"/></p>
	        <p class="formfill"><label>语言：</label>
	        	<select class="commtext js_language">
	        		<option value="Chinese">中文</option>
	        		<option value="English">英文</option>
	        		<option value="Japanese">日语</option>
	        		<option value="Korean">韩文</option>
	        	</select>
	        </p>
	        <p class="formfill clear"><label class="fl">视频解说：</label><textarea class="textinput" id="js_description"></textarea></p>
	        <div class="formsubmit"><input type="button" value="取消" class="quit formbtn js_popUpClose"/><input type="button" value="保存" class="save formbtn uploadSaveClass" id=""/></div>
	      </form>
	    </div>
	  </div>
</script>
  <!--视频编辑-->
<div class="popup js_popUpupvideoedit" id="videoedit-save-content"> &nbsp; </div>
<script id="videoedit-save" type="text/x-handlebars-template">
	  <div class="popup_bg"></div>
	  <div class="popup_box popupheight1">
	    <div class="popup_bt">视频编辑<a class="popupclose js_popUpClose" href="javascript:void(0)"></a></div>
	    <div class="popupform">
	      <form id="addsiteform1" name="addsiteform" method="post" >
			<div class="formfill clear">
		 	 	<label class="fl">选择文件：</label>
         	 	<div class="parentFileBox fl">
          		  	<ul class="fileBoxUl" >
						<li>
              				<div class="editpicbox">
 								<video width="130" height="110" controls autoplay>
 							 		<source src="movie.mp4" type="video/mp4" id="js_edit_video">
  									<!--<object data="movie.mp4" width="130" height="110">-->
   								 		<!--<embed width="130" height="110" src="${base}/images/movie.mp4">-->
  									<!--</object>-->
								</video>
							</div>
						 </li>
             		 	<li class="diyUploadHover "><div id="uploadpic"></div></li>
           		 	</ul> 	
             	</div>
		    </div>
	        <p class="formfill"><label>文件名称：</label><input name="filename" type="text" class="commtext " id="js_vedio_name"/><label>外链：</label><input type="text" class="commtext js_editLink"/></p>
			<p class="formfill"><label>语言：</label>
	        	<select class="commtext js_language">
	        		<option value="Chinese">中文</option>
	        		<option value="English">英文</option>
	        		<option value="Japanese">日语</option>
	        		<option value="Korean">韩文</option>
	        	</select>
	        </p>
	        <p class="formfill clear"><label class="fl">视频解说：</label><textarea class="textinput" id="js_vedio_description"></textarea></p>
	        <div class="formsubmit"><input type="button" value="取消" class="quit formbtn js_popUpClose"/><input type="button" value="保存" class="save formbtn uploadSaveClass" /></div>

	      </form>
	    </div>
	  </div>
</script>
  <!--视频播放-->
<div class="popup js_popUpupvideoplay" id="videoplay-save"> &nbsp;</div>
<script id="videoplay-save-content" type="text/x-handlebars-template">
	<div class="popup_bg"></div>
	<div class="popup_box popupheight1" >
	  <div class="popup_bt">视频播放<a class="popupclose js_popUpClose" href="javascript:void(0)"></a></div>
	    <video id="media" src="" controls style="width:100%;height:100%; object-fit:fill;" ></video>
	</div> 
</script>
<#include "/common/foot.html">                     
<script type="text/javascript">
require(['common/head','material/video/list'],function(head,videoList){
	head.init('module004001003');
	videoList.init();
});
</script>
