<#include "/common/head.html">
<link rel="stylesheet" type="text/css" href="${base}/js/plugin/diyUpload/css/webuploader.css">
<link rel="stylesheet" type="text/css" href="${base}/js/plugin/diyUpload/css/diyUpload.css"> 
<link rel="stylesheet" href="${base}/js/plugin/date/css/smoothness/jquery.ui.css" type="text/css" />
<link rel="stylesheet" type="text/css" href="${base}/js/plugin/date/css/css.css"/>
<link href="${base}/css/popup.css" rel="stylesheet" type="text/css">
  <!--右侧内容区-->
  <div class="rightcon clear" >
    <div class="searchpositon searchpositonpd" >
        <div class="search">
            <h3 class="manaicon search-head">查询</h3>
            <div class="search-bar">
              <label>查询</label><input placeholder="请输入完整数据ID" type="text" class="search_input js_search_input"/>
              <div class="fl">
              <label>起止日期</label>
	          		<input  class="datecheck js_order_startDate" value=""  readonly type="text" placeholder="年/月/日"/>
	          		至
	          		<input  class="datecheck js_order_endDate" value=""  readonly type="text" placeholder="年/月/日"/>
	          </div>
	          <div class="fl">
              <label>数据类型</label>
              <select class="js_dataType_search">
                 	<option value="">请选择</option>
                 	<option value="view">旅游数据</option>
                 	<option value="view_type">旅游类型</option>
                 	<option value="article">资讯</option>
                 	<option value="category">栏目</option>
                 	<option value="resource">素材</option>
                 	<option value="prod">电商</option>
                 	<option value="prod_type">产品类型</option>
              </select>
              </div>
              <input value="搜索" class="comBtn btn-small searchbtn js_searchbtn" type="button"/>
            </div>
        </div>
    </div>
    <div class="tablewrap tablewrapwidth pt" >
      	<div class="data_table datatableheight" > 
            <h3 class="manaicon table-head">列表<!-- <a class="addsceneryname  btn-small comBtn js_add_data" href="javascript:;" >添加</a> --></h3>
			<div class="tableBox" id="logData-list-content">
				
			</div>	
		</div>
    </div>
    <!--分页-->
    <div class="bottom js_pageDiv">
      <div class="pageDiv"></div>
    </div>
  </div>
    <script id="logData-list" type="text/x-handlebars-template">
        <table style="width:100%" border="0" cellspacing="0">
            <thead>
            <tr class="title">
				<td width="10%">操作人员ID</td>
                <td width="10%">操作人员</td>
				<td width="10%">IP</td>
				<td width="10%">数据类型</td>
				<td width="15%">数据标题/名称</td>
				<td width="15%">数据ID</td>
				<td width="5%">动作</td>
                <td width="10%">操作结果</td>
				<td width="15%">操作时间</td>
            </tr>
            </thead>
            <tbody>
            {{#if dataList}}
            {{#each dataList}}
            <tr>
				<td>{{uid}}</td>
                <td>{{userName}}</td>
                <td>{{clientIp}}</td>
				<td>{{viewType bizType}}</td>
				<td>{{bizName}}</td>
                <td>{{bizId}}</td>
				<td>{{actionDesc actionDesc}}</td>
				<td>{{actionResult actionResult}}</td>
                <td>{{formatTime actionDate}}</td>
            </tr>
            {{/each}}
            {{else}}
            <tr>
                <td colspan="7">暂无数据</td>
            </tr>
            {{/if}}
            </tbody>
        </table>
    </script>
<!--&lt;!&ndash;编辑备注弹窗&ndash;&gt;-->
<!--<div class="popup js_popUpeditremark" id="editremark-save-content"> &nbsp; </div>-->
<!--<script id="editremark-save" type="text/x-handlebars-template">-->
    <!--<div class="popup_bg"></div>-->
    <!--<div class="popup_box popupheight1">-->
      <!--<div class="popup_bt">查看备注<a class="popupclose js_popUpClose" href="javascript:void(0)"></a></div>-->
      <!--<div class="popupform">-->
        <!--<form id="addsiteform" name="addsiteform" method="post" >-->
          <!--<p class="formfill"><label>古丽仙：</label><span class="question">温州导游证..？.</span></p>-->
          <!--<p class="formfill clear"><label class="fl">备注内容：</label><textarea class="wordsarea"></textarea></p>-->
          <!---->
          <!--<div class="formsubmit"><input type="button" value="取消" class="quit formbtn js_popUpClose"/><input type="button" value="保存" class="save formbtn js_popUpSubmit"/></div>-->
        <!--</form>-->
      <!--</div>-->
    <!--</div>-->
<!--</script>-->
  <!--添加数据弹窗-->
<div class="popup js_popUpadddata" id="adddata-save-content"> &nbsp; </div>
<script id="adddata-save" type="text/x-handlebars-template">
    <div class="popup_bg"></div>
    <div class="popup_box popupheight4">
      <div class="popup_bt">添加数据<a class="popupclose js_popUpClose" href="javascript:void(0)"></a></div>
      <div class="popupform">
        <form  method="post" >
          	<p class="formfill">
              <label><span class="style1">*</span>标题名称：</label>
              <input  type="text" class="commtext js_titlename" value="{{name}}" name="titlename"/>
			  	<label class="labelwidth"><span class="style1">*</span>选择标签组：</label>
              	<select class="commtext" id="position" name="selectposition">
				<option value="">请选择</option>
				{{#if tagTypeVoList}}
				{{#each tagTypeVoList}}
				<option value="{{tagTypeid}}">{{tagTypename}}</option>
				{{/each}}
				{{/if}}
              </select>
          	</p>
			<p class="formfill">
			<label>描述：</label>
            <input  type="text" class="commtext js_description" value="{{description}}" name="description"/>
			</p>
          	<div class="formsubmit"><input type="button" value="取消" class="quit formbtn js_popUpClose"/><input type="button" value="保存" class="save formbtn datasave js_popUpSubmit" id="uploadsave"/></div>
          	</div>
          	</div>
        </form>
      </div>
    </div>
 </script>
<#include "/common/foot.html">                              
<script type="text/javascript">
require(['common/head','tool/log/list'],function(head,datalist){
	head.init('module006008001');
	datalist.init();
  });
</script>
