<#include "/common/head.html">
<link href="${base}/css/count.css" rel="stylesheet" type="text/css">
  <!--右侧内容区-->
  <div class="rightcon">
<!--     <p class="commbt">会员注册统计</p>-->
    <div class="search"> 
      <h3 class="manaicon search-head">查询</h3>
      <div class="search-bar">
          日期：<select class="selectitem"><option>2016年</option></select><select class="selectitem">><option>08月</option></select><select class="selectitem"><option>18日</option></select>回复状态：<select class="selectitem"><option>全部</option><option>已回复</option><option>未回复</option></select><input value="查询" class="comBtn btn-small searchbtn" type="button"> 
      </div>
    </div>
    <div class="pageviewtotal mt" >
      <div class="diagramtab clear">
        <ul>
          <li ><a href="javascript:void(0)" dateattr="dayecharts"><span class="charticon"></span>日报表</a></li>
          <li><a href="javascript:void(0)" dateattr="weekecharts"><span class="charticon"></span>周报表</a></li>
          <li><a href="javascript:void(0)" dateattr="monthecharts"><span class="charticon"></span>月报表</a></li>
          <li class="active"><a href="javascript:void(0)" dateattr="yearecharts"><span class="charticon"></span>年报表</a></li>
        </ul>
      </div>
      
      <div id="container" style="width:100%;height:100%">
       <div id="containermap" style="width:100%;height:85%;"></div>
      </div> 
    </div>
  </div>
<#include "/common/foot.html">      
<script type="text/javascript">
	require(['common/head','index/comment'],function(head,comment){
		head.init('module001001008');
		comment.init();
	});
</script>