<#include "/common/head.html">
<link rel="stylesheet" href="${base}/js/plugin/ztree/zTreeStyle/zTreeStyle.css" type="text/css">
<link rel="stylesheet" type="text/css" href="${base}/js/plugin/diyUpload/css/webuploader.css">
<link rel="stylesheet" type="text/css" href="${base}/js/plugin/diyUpload/css/diyUpload.css"> 
<link rel="stylesheet" href="${base}/css/popup.css" type="text/css">
	<!--右侧内容区-->
	<div class="rightcon clear" >
		<div class="tablewrap pt">
			<div class="searchpositon">
				<div class="search"> 
					<h3 class="manaicon search-head">查询</h3>
					<div class="search-bar">
						<label>公众号名称</label><input type="text" id="wxname" class="search_input"/>
						<span style="display:inline-block;"><label>活动名称</label><input name="keywords"  type="text" id="activityName" class="search_input">
						<input value="搜索" class="comBtn btn-small searchbtn"  id="js_doSearch" type="button"/> </span>
					</div>
				</div>
			</div>
	        <div class="data_table datatableheight" >
				<h3 class="manaicon table-head">列表<a class=" btn-big comBtn fr " href="edit.html" target="blank" >新增</a></h3>
	       		<div class="tableBox"  id="activity-list-content">
	  			
	  			</div>
          	</div>
		</div>
		<!--分页-->
		<div class="bottom"> 
		   
			<div class="js_pageDiv"> &nbsp; </div>
		</div>
	</div>
	<!--复制成功-->
    <div class="copysucc">
        <img src="${base!''}/images/copysucc.png">复制成功
    </div>
	<!--删除弹窗-->
	<div class="popup js_popUpuparticle" id="article-examine-content"> </div>
	<script id="articleexamine-save" type="text/x-handlebars-template">
		<div class="popup_bg"></div>
		<div class="popup_box popupheight4 popupwidth4">
			<div class="popup_bt">微信公众号删除<a class="popupclose js_popUpClose" href="javascript:void(0)"></a></div>
			<div class="popupform">
				<form id="addsiteform" name="addsiteform" method="post" >
					<p class="formfill"><textarea class="articlearea"></textarea></p>
					<div class="formsubmit"><input type="button" value="取消" class="quit formbtn nopass"><input type="button" value="确定" class="save formbtn pass js_popUpSubmit"></div>
				</form>
			</div>
		</div>
	</script>
	 <!--添加,编辑站点弹窗-->

<div class="popup js_popUpaddweixin" id="addweixin-save-content"> &nbsp; </div>
<script id="addweixin-save" type="text/x-handlebars-template">
    <div class="popup_bg"></div>
    <div class="popup_box popupheight3">
    <div class="popup_bt"><span>添加公众号</span><a class="popupclose js_popUpClose" href="javascript:void(0)"></a></div>
    <div class="popupform">
		<p class="formfill">
			<label><span class="mark">*</span>名称：</label>
			<input type="text"  class="commtext js_weixin_name">
			<label><span class="mark">*</span>类型：</label>
			<select class="commselect"><option>服务号</option><option>订阅号</option></select>
			<select class="commselect"><option>已认证</option><option>未认证</option></select>
		</p>
		<p class="formfill">
			<label><span class="mark">*</span>微信号：</label>
			<input type="text" class="comminput js_weixin_num" >
			
        </p>
		<p class="formfill">
			<label><span class="mark">*</span>AppId：</label>
			<input type="text" class="comminput js_weixin_AppId" >
			<input type="button" value="复制" class="comBtn btn-big copylinkbtn"/>
         </p>
		<p class="formfill">
			<label><span class="mark">*</span>AppSecret：</label>
			<input type="text" class="comminput js_weixin_AppSecret" >
			<input type="button" value="复制" class=" comBtn btn-big copylinkbtn"/>
                  </p>
		 <p class="formfill" >
			<label><span class="mark">*</span>可控token：</label>
			<input type="radio" name="controltoken"/>是
			<input type="radio" name="controltoken"/>否
			<input type="text" class="comminput js_article_url" >
			<input type="button" value="复制链接" class="comBtn btn-big copylinkbtn js_copy_link"/>
			<span class="errortip js_errortip" style="display:block"></span>	
            </p>
		<p class="formfill" >
			<label><span class="mark">*</span>开放token：</label>
			<input type="radio" name="opentoken"/>是
			<input type="radio" name="opentoken"/>否
			<input type="text" class="comminput js_article_url" >
			<input type="button" value="复制链接" class="comBtn btn-big copylinkbtn js_copy_link"/>
			<span class="errortip js_errortip" style="display:block"></span>	
                  </p>
		<div class="formfill  clear">
               <label class="fl" style="height:100px">上传图片：</label>
               <!--图片-->
               <div class="parentFileBox fileboxheight fl" >
                 <ul class="fileBoxUl">
                     {{#if icon}}
                         <li>
                             <div class="editpicbox"><img id="js_img_file_name" data-original='${base}/images/img/emma-watson-2.jpg' src="${(config.WebArticleCdnUrl)!''}{{icon}}"/></div>
                         </li>
                     {{/if}}
                   <li class="diyUploadHover "><div id="uploadpic"></div></li>
                 </ul>
               </div>
            </div>
		 <div class="formsubmit">
               <input type="button" value="取消" class="quit formbtn js_popUpClose">
               <input type="button" id="addcolumnbtn" value="保存" class="save formbtn js_popUpSubmit">
         </div>
    </div>
</script>
<script id="activity-list" type="text/x-handlebars-template">

				<table style="width:100%" border="0" cellspacing="0"> 
					<thead>
						<tr class="title"> 
							<td width="5%"><input type="checkbox" class="checkall">编号</td>
							<td width="8%">活动类型</td>
							<td width="8%">活动形式</td>
							<td width="8%">活动名称</td>
							<td width="8%">公众号名称</td> 
							<td width="15%">活动介绍</td>
							<td width="10%">开始时间</td> 
							<td width="10%">结束时间</td>
							<td width="8%">状态</td>
							<td width="10%">创建时间</td>
							<td width="10%">操作</td> 
						</tr> 
					</thead>
					<tbody>
                {{#if dataList}}
         		{{#each dataList}}
						<tr>
							<td><input type="checkbox" class="checkbox">{{addOne @index}}</td>
							<td>{{bigType}}</td>
							<td>{{smallType}}</td>
							<td>{{name}}</td>
							<td>{{wxname}}</td>
							<td>{{description}}</td>
							<td>{{formatDate startTime "default"}}</td>
							<td>{{formatDate endTime "default"}}</td>
							<td>已结束</td>
							<td>{{formatDate createDate "default"}}</td>
							<td class="operate">
								<span><a href="${base!''}/weixin/activity/edit.html?activityVo.activityId={{activityId}}"  target='blank'>详情</a> |</span>
								<span><a href="javascript:;" class="deleterow js_copy_link">复制活动链接</a></span>
								</td>
						</tr>
						{{/each}}
				        {{else}}
					<tr>
						<td colspan="9">暂无数据</td>
					</tr>	
				{{/if}}
					</tbody>
				</table>






</script>
 
 
<#include "/common/foot.html">               
<script type="text/javascript">
	require(['common/head','weixin/activity/list'],function(head,activityList){
		head.init('module008001002');
		activityList.init();
   	});
</script>

