<#include "/common/head.html">
<link href="${base}/css/edit.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css"
	href="${base}/js/plugin/diyUpload/css/webuploader.css">
<link rel="stylesheet" type="text/css"
	href="${base}/js/plugin/diyUpload/css/diyUpload.css">
<link rel="stylesheet"
	href="${base}/js/plugin/date/css/smoothness/jquery.ui.css"
	type="text/css" />
<link rel="stylesheet" type="text/css"
	href="${base}/js/plugin/date/css/css.css" />
<link rel="stylesheet"
	href="${base}/js/plugin/ztree/zTreeStyle/zTreeStyle.css"
	type="text/css">
<link rel="stylesheet" href="${base}/js/plugin/assets/css/viewer.css">
<!--右侧内容区-->
<div class="rightcon pt clear">
	<div class="editbt">
		<span class="js_editbt"></span>/
		<#if viewVo.viewId??>
			<span class="style2 " >编辑<span class="js_editbt"></span></span>
			<#else>
				<span class="style2">添加<span class="js_editbt"></span></span>
		</#if>
	</div>
	<div class="editbox pb">
		<div class="editboxbt ">
			<span class="editboxbtline active" dataattr="basicinfo">基本信息</span>
			<span class="editboxbtline" dataattr="businessinfo">营业信息</span>
			<span class="editboxbtline" dataattr="sceneryinfo">上传图片</span>
			<span class="editboxbtline" dataattr="audioInfo">上传语音</span>
		</div>
		<div class="editboxcon" id="basicinfo">
			<form action="">
				<input id="id" type="hidden" name="viewVo.id"
					value="${(viewVo.id)!''}" />
				 <input id="viewid" type="hidden"
					name="viewVo.viewId" value="${(viewVo.viewId)!''}" />
				<input id="areaId"
					type="hidden" name="viewVo.areaId" value="${(viewVo.areaId)!''}" />
				<div class="formformat">
					<label><span class="style1">*</span>名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：</label><input type="text"
						class="formoinputtext" id="viewname" value="${(viewVo.name)!''}"
						name="sceneryname" />
						<span class="errortip js_errortip"></span>
				</div>
				<div class="formformat">
					<label><span class="style1">*</span>所属区域：</label><select
						class="formselect" id="selectId" name="areaname"><option>请选择</option>
						<option>1</option></select>
						<span class="errortip js_errortip"></span>
				</div>
				<div class="formformat">
					<label><span class="style1">*</span>所属类型：</label><select
						class="formselect" id="viewType" name="viewType"><option>请选择</option>
						<#if viewtypeList?? >
						  <#list viewtypeList as viewType>
						  <option value="${(viewType.name)!''}"
						     <#if viewVo?? && viewVo.smallType?? && viewVo.smallType == viewType.name>
						       selected="selected"</#if>
						    >${(viewType.description)!''}</option>
						  </#list>
						</#if>
					</select>
						<span class="errortip js_errortip"></span>
				</div>
				<div class="formformat clear">
          		<label class=" fl"><span class="style1">*</span>选择标签：</label>
				<div class=" fl js_tagLable">
	          		<#if tagsGroupVos?? && ( tagsGroupVos.size() > 0)> 
	          				<#list tagsGroupVos as tagsGroupVo>
	          					<div class="iteminfo clear">
	          					 	<span>${(tagsGroupVo.groupName)!''}：</span>
									<#list tagsGroupVo.tagsDataVos as tag> 
										<span class="markcheck">
										<input type="checkbox" name="viewVo.tags" value="${(tag.tagsId)!''}"/>${(tag.tagsName)!''}</span> 
									</#list>
								</div>
							</#list>
					</#if>
				</div>
           		 <label for="mark" class="error"></label>
          		</div>
				<div class="formformat">
					<label>服务电话：</label><input type="text" id="mobile" value="${(viewVo.mobile)!''}"
						class="formoinputtext" />
				</div> 
				<div class="formformat">
		          <label>第三方预定地址：</label><input type="text" class="formoinputtext" id="otherSaleUrl" value="${(viewVo.otherSaleUrl)!''}"/>
		        </div>
				<div class="formformat">
					<label>详细地址：</label>
					<input type="text" id="address"	name="viewVo.address"  value="${(viewVo.address)!''}" class="formoinputtext" />
					<input type="button" value="查询" id="searchArea" class="comBtn btn-small btn-grey" style="height: 35px;" />
					<span class="errortip js_errortip_geocoder"> </span>
				</div>

				<div class="formformat clear">
					<label class="fl"><span class="style1">*</span>地图坐标：</label>
					<div class="mapbox fl">
						<div class="map_zb">
							经度: <input class="wd" type="text" value="${(viewVo.longitude?string('#.######'))!''}" id="lng" name="viewVo.longitude" /> 
							纬度: <input class="jd" type="text" value="${(viewVo.latitude?string('#.######'))!''}" id="lat" name="viewVo.latitude" />
							<span class="errortip js_errortip"> </span>
							<input type="text" value="18" class="js_map_dengji" style="display: none;" />
						</div>
						<div id="custom_places" class="maps"> </div>
					</div>
				</div>
				<div class="formformat clear">
					<label class="fl"><span class="style1">*</span>真实地图坐标：</label>
					<input class="formoinputtext js_realJingdu" type="text" value="${(viewVo.longitudeReal)!''}">
					<input class="formoinputtext js_realWeidu" type="text" value="${(viewVo.latitudeReal)!''}">
				</div>
						<#if tagVoList?? && ( tagVoList.size() > 0)> 
				<div class="formformat clear">
					<label class="fl marktitle">标&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;签：</label>
					<div class="markbox fl">
						<#list tagVoList as tag> 
							<span class="markcheck"><input
							type="checkbox" name="viewVo.tags" value="${(tag.tagId)!''}"<#if
							viewVo.tags?? && viewVo.tags.contains(tag.tagId)>checked</#if>
							/>${(tag.name)!''}</span> 
							
						</#list> 
					</div>
				</div>
				<#else>
					<div style="display:none"></div>	
						
				</#if>
				
				<#if facVoList??&& ( facVoList.size() > 0)>
				<div class="formformat clear">
					<label class="fl marktitle">设施服务：</label>
					<div class="markbox fl">
						<#list facVoList as fac>
							 <span class="markcheck"><input
							type="checkbox" name="viewVo.facs" value="${(fac.facId)!''}"<#if
							viewVo.facs?? && viewVo.facs.contains(fac.facId)>checked</#if>
							/>${(fac.name)!''}</span> 
							
							</#list>
					</div>
					</div>
				<#else>
					<div style="display:none"></div>	
						
				</#if>
				<div class="formformat Ueditorbox  clear">
					<label class="fl">概述内容：</label>
					<div class="ueditor" id="Ueditor" value="${(viewVo.description)!''}" type="text/plain"></div>
				</div>
				<div class="formformat Ueditorbox clear">
					<label class="fl">详情内容：</label>
					<div class="ueditor" id="Ueditor2" value="${(viewVo.content)!''}" type="text/plain"></div>
				</div>
				<div class="formformat Ueditorbox clear">
					<label class="fl">须知内容：</label>
					<div class="ueditor" id="Ueditor3" value="${(viewVo.attention)!''}" type="text/plain"></div>
				</div>
				<!--   <div class="page">
            <div class="editsubmit"><input type="button" value="保存" class="save btn-small comBtn " id="basicinfosave"/><input type="button" value="取消" class="btn-small comBtn btn-grey"/></div>
          </div>
         -->
			</form>
		</div>
		<!--营业信息-->
		<div class="editboxcon" id="businessinfo">
			<form action="">
				<div class="formformat">
					<label>最低价格：</label><input type="text" class="formoinputtext"  id="floorPrice" value="${(viewVo.price)!''}"/>
				</div>
				<div class="formformat">
					<label>推荐指数：</label><select class="formselect" id="isRecommentStar">
						<option value="0">请选择</option>
						<option value="1" <#if viewVo.recommendIndex?? && viewVo.recommendIndex==1>selected="selected"</#if>>1星</option>
						<option value="2"<#if viewVo.recommendIndex?? && viewVo.recommendIndex==2>selected="selected"</#if>>2星</option>
						<option value="3"<#if viewVo.recommendIndex?? && viewVo.recommendIndex==3>selected="selected"</#if>>3星</option>
						<option value="4"<#if viewVo.recommendIndex?? && viewVo.recommendIndex==4>selected="selected"</#if>>4星</option>
						<option value="5"<#if viewVo.recommendIndex?? && viewVo.recommendIndex==5>selected="selected"</#if>>5星</option>
					</select>
				</div>
				<div class="formformat">
					<label>评分：</label><input id="score" class="formoinputtext" placeholder="满分5分"
						type="text" value="${(viewVo.score)!''}" />
					<span class="errortip js_errortip"></span>
				</div>
				<div class="formformat">
					<label>开放时间：</label><input id="opentime" class="formoinputtext"
						type="text" value="${(viewVo.openingTime)!''}" />
				</div>
				<div class="formformat">
					<label>营业时间：</label><input id="bussinesstime" class="formoinputtext"
						type="text" value="${(viewVo.businessTime)!''}"/>
				</div>
				<!--  <div class="page">
            <div class="editsubmit"><input type="button" value="保存" class="save btn-small comBtn "/><input type="button" value="取消" class="btn-small comBtn btn-grey"/></div>
          </div> -->
			</form>
		</div>
		<!--景点图片-->
		<div class="editboxcon scenerypicbox" id="sceneryinfo">
			<form action="">
				<input type="hidden" value="${(viewVo.icon)!''}" class="js_viewIcon" />
				<div class="formformat  picmaterialcon docs-pictures clear js_pic"
					id="sortable">
					<#if viewVo.picVoList??&&viewVo.picVoList.size() gt 0>
					<#list viewVo.picVoList as pic>
						<div class="picinsert js_picinsert fl">
							<div class="Cancel js_Cancel old"></div>
							<#if pic.urlPath?contains("http") >
								<img  _src="${(pic.urlPath)!''}" src="${(pic.urlPath)!''}" picId="${(pic.picId)!''}">
							<#else>
								<img  _src="${(pic.urlPath)!''}" src="${(config.ResourcePath)!''}${(pic.urlPath)!''}" picId="${(pic.picId)!''}">
							</#if>
							<#if viewVo.icon == pic.urlPath>
							<em  class="setcover title " >封面图</em>
							<em  class="js_Cancel" ></em>
							
							<#else>
							<em  class="setcover" >设为封面</em>
							<em  class="js_Cancel" ></em>
							</#if>
						</div>
					</#list>
					</#if>
					<div class="picupload fl js_picupload"></div>
				</div>
			</form>
		</div>
		<!--上传语音-->
		<div class="editboxcon " id="audioInfo">
			<#if viewVo.resourceVoList?? && (viewVo.resourceVoList.size() > 0)>
				<#list viewVo.resourceVoList as resourceVo>
					<inde>
						<div class="inputItem js_radio_items">
							<div class="formformat">
								<label>文件标识：</label>
								<select class="formselect js_file_ext">
									<option <#if resourceVo.fileExt?? && resourceVo.fileExt == 'Chinese'>selected="selected"</#if> value="Chinese">中文</option>
									<option <#if resourceVo.fileExt?? && resourceVo.fileExt == 'English'>selected="selected"</#if> value="English">英文</option>
									<option <#if resourceVo.fileExt?? && resourceVo.fileExt == 'Japanese'>selected="selected"</#if> value="Japanese">日文</option>
									<option <#if resourceVo.fileExt?? && resourceVo.fileExt == 'Korean'>selected="selected"</#if> value="Korean">韩文</option>
								</select>


							</div>
							<div class="formformat js_radio_type"><label>展现形式：</label>
								<span class="formradio"><input type="radio" name="displayform_${(resourceVo_index)}" <#if resourceVo.showType == 'outlink'>checked="checked"</#if> class="js_radio_select" value="outlink" data-index="1">外链</span>
								<span class="formradio"><input type="radio" name="displayform_${(resourceVo_index)}" <#if resourceVo.showType == 'inlink'>checked="checked"</#if> class="js_radio_select" value="inlink" data-index="2">本地上传</span>
							</div>
							<div class="formformat js_radio_item js_radio_item1" style="display:block;">
								<label>文件地址：</label><input class="formoinputtext js_file_path" type="text" name="filepath" value="${(resourceVo.link)!''}"/>
							</div>
							<div class="formformat clear js_radio_item js_radio_item2" style="display:none;">
								<label class="fl">选择文件：</label>
								<#if resourceVo??>
									<audio controls style="width:20%;">
										<source src="${(config.WebArticleCdnUrl)!''}${(resourceVo.filePath)!''}" type="audio/mpeg"/>
									</audio>
									<#else>
										<div class="parentFileBox fl audioFileBox">
											<div class="fileBoxUl fileupload clear" >
												<div id="audioupload" class="uploadpic fl"></div>
											</div>
										</div>
										<input type="button" class="audiouploadbtn js_audiouploadsave" value="上传"  />
								</#if>
							</div>
							<div class="formformat">
								<label>文件名称：</label><input class="formoinputtext js_file_name" type="text" name="filename"  value="${(resourceVo.name)!''}"/>
							</div>
							<input type="hidden" class="audioUrl" value="${(resourceVo.filePath)!''}"/>
							<input type="hidden" class="sourceId" value="${(resourceVo.id)!''}"/>
							<div class="formformat clear"><label class="fl">语音解说：</label><textarea class="commarea js_description" >${(resourceVo.description)!''}</textarea></div>
							<div class="clear routeadd">
								<a class="addnewroute  fr js_radio_itemdel" href="javascript:void(0)" dataId="${(resourceVo.id)!''}">删除</a>
							</div>
						</div>
				</#list>
				<#else>
					<div class="inputItem js_radio_items">
						<div class="formformat">
							<label>文件标识：</label>
							<select class="formselect js_file_ext">
								<option value="Chinese">中文</option>
								<option value="English">英文</option>
								<option value="Japanese">日文</option>
								<option value="Korean">韩文</option>
							</select>
						</div>
						<div class="formformat js_radio_type"><label>展现形式：</label>
							<span class="formradio"><input type="radio" name="displayform" checked="checked" class="js_radio_select" value="outlink" data-index="1">外链</span>
							<span class="formradio"><input type="radio" name="displayform" class="js_radio_select" value="inlink" data-index="2">本地上传</span>
						</div>
						<div class="formformat js_radio_item js_radio_item1" style="display:block;">
							<label>文件地址：</label><input class="formoinputtext js_file_path" type="text" name="filepath" value=""/>
						</div>
						<div class="formformat clear js_radio_item js_radio_item2" style="display:none;">
							<label class="fl">选择文件：</label>
							<div class="parentFileBox fl audioFileBox">
								<div class="fileBoxUl fileupload clear" >
									<div id="audioupload" class="uploadpic fl"></div>
									<input type="hidden" class="audioUrl" value=""/>
									<input type="hidden" class="sourceId" value=""/>
								</div>
							</div>
							<input type="button" class="audiouploadbtn js_audiouploadsave" value="上传" />
						</div>
						<div class="formformat">
							<label>文件名称：</label><input class="formoinputtext js_file_name" type="text" name="filename"  value=""/>
						</div>
						<div class="formformat">

							<div class="formformat clear"><label class="fl">语音解说：</label><textarea class="commarea js_description" ></textarea></div>
						</div>
						<div class="clear routeadd">
							<a class="addnewroute  fr js_radio_itemdel" href="javascript:void(0)">删除</a>
						</div>

					</div>

			</#if>
			<div class="clear routeadd">
				<a class="addnewroute manaicon fr js_radio_itemadd" href="javascript:void(0)">新增</a>
			</div>
		</div>
	</div>
	<div class="page">
		<div class="editsubmit">
			<input type="button" value="保存" class="save btn-small comBtn "
				id="basicscenicsave" /><input type="button" value="返回" id="cancle"
				class="btn-small comBtn btn-grey" />
		</div>
	</div>

</div>
<!--选择图片弹窗-->
<div class="popup js_popUpuploadpic" id="uploadpic-save-content">
	&nbsp;</div>
<script id="uploadpic-save" type="text/x-handlebars-template">
    <div class="popup_bg"></div>
    <div class="popup_box popupheight3">
    <div class="popup_bt">选择图片<a class="popupclose js_popUpClose" href="javascript:void(0)"></a></div>
    <div class="popupform">
      <div class="picseltab"><span class="pictabtit active" dataattr="localupload">本地上传</span><span class="pictabtit " dataattr="materialupload">素材库</span></div>
        <div class="picuploadbox" id="localupload">
          <div class="parentFileBox">
            <ul class="fileBoxUl" >
              <li class="diyUploadHover "><div id="uploadpic"></div></li>
            </ul> 
          </div>
          <div class="formsubmit"><input type="button" value="取消" class="quit formbtn js_popUpClose"/><input type="button" value="保存" class="save formbtn" id="uploadsave"/></div>
        </div>
        
        <div class="picuploadbox clear" id="materialupload"  style="display:none">
          <form  action="" method="post" id="uploadmaterialform">
<div class="materialbox clear" id="material-content">

            </div>
            <div class="formsubmit"><input type="button" value="取消" class="quit formbtn js_popUpClose"/><input type="button" value="保存" class="save formbtn js_popUpSubmit" id="addmaterialpic"/></div>
         </form>
        </div>
      </div>
    </div>
</script>
<script id="material-save" type="text/x-handlebars-template">
    <div class="materrialsearch"><input type="text" class="searchtext js_name"/><input type="button" value="搜索" class="comBtn btn-small js_search"/></div>
    <ul class="materiallist clear">
      {{#if dataList}}
      {{#each dataList}}
      <li>
        <span class="materiapic"><img src="{{filePath}}"/></span>
        <p class="materiapicname clear">{{name}}<input type="checkbox" class="checkpic fr"/></p>
      </li>
      {{/each}}
      {{else}}
      <div>暂无数据</div>
      {{/if}}
    </ul>
    <!--分页-->
    <div class="js_pageDiv">
      <div class="pageDiv">&nbsp;</div>
    </div>
  </script>
<script id="radio_itemcon" type="text/x-handlebars-template">
		<div class="inputItem js_radio_items">
			<div class="formformat">
				<label>文件标识：</label>
				<select class="formselect js_file_ext">
					<option value="Chinese">中文</option>
					<option value="English">英文</option>
					<option value="Japanese">日文</option>
					<option value="Korean">韩文</option>
				</select>
			</div>
			<div class="formformat js_radio_type"><label>展现形式：</label>
				<span class="formradio"><input type="radio" name="displayform_{{num}}" checked="checked" class="js_radio_select" value="outlink" data-index="1">外链</span>
				<span class="formradio"><input type="radio" name="displayform_{{num}}" class="js_radio_select" value="inlink" data-index="2">本地上传</span>
			</div>
			<div class="formformat js_radio_item js_radio_item1" style="display:block;">
				<label>文件地址：</label><input class="formoinputtext js_file_path" type="text" name="filepath" value=""/>
			</div>
			<div class="formformat clear js_radio_item js_radio_item2" style="display:none;">
				<label class="fl">选择文件：</label>
				<div class="parentFileBox fl audioFileBox">
					<div class="fileBoxUl fileupload clear" >
						<div  class="uploadpic fl js_uploadpic"></div>
						<input type="hidden" class="audioUrl" value=""/>
						<input type="hidden" class="sourceId" value=""/>
					</div>
				</div>
				<input type="button" class="audiouploadbtn js_audiouploadsave" value="上传"  />
			</div>
			<div class="formformat">
				<label>文件名称：</label><input class="formoinputtext js_file_name" type="text" name="filename"  value=""/>
			</div>
			<div class="formformat">
				<div class="formformat clear"><label class="fl">语音解说：</label><textarea class="commarea js_description" ></textarea></div>
			</div>
			<div class="clear routeadd">
				<a class="addnewroute  fr js_radio_itemdel" href="javascript:void(0)">删除</a>
			</div>
		</div>
	</script>
<#include "/common/foot.html">
<script type="text/javascript">
	require([ 'common/head', 'tourdata/hotel/edit', 'area','common/map' ], function(head,editList, area,map) {
		head.init('module002001005');
		area.init("${(rootAreaid)!'3301'}");
		var viewVoDescription = "${(viewVo.description)!''}";
		var viewVoContent = "${(viewVo.content)!''}";
		var viewVoAttention = "${(viewVo.attention)!''}";
		var picList = "${(viewVo.viewPicString)!''}";
		var mapset = '${(mapset)!''}';
		var tags = "${(viewVo.tags)!''}";
		editList.init(viewVoDescription, viewVoContent, viewVoAttention,picList,tags);
		map.init(mapset);
	});
</script>

