<#include "/common/head.html">
<link href="${base}/css/popup.css" rel="stylesheet" type="text/css">
  <!--右侧内容区-->
  <div class="rightcon clear" >
    <div class="searchpositon searchpositonpd" >
    <div class="search"> 
        <h3 class="manaicon search-head">查询</h3>
        <div class="search-bar">
          <label>是否默认</label><select id="searchIsDefault"><option value="">请选择</option><option value="Y">是</option><option value="N">否</option></select>
          <label>是否包邮</label><select id="searchIsFree"><option value="">请选择</option><option value="Y">是</option><option value="N">否</option></select>
          <label>查询条件</label><input name="keywords" placeholder="请输入模板名称" type="text" class="search_input" id="tempName"/>
          <input value="搜索" class="comBtn btn-small searchbtn" type="button" id="search"/>
        </div>
      </div>
    </div>
     <div class="tablewrap tablewrapwidth pt" >
        <div class="data_table datatableheight">
        	<h3 class="manaicon table-head">列表  <a class="comBtn btn-big js_add_people fr" >新增邮费模板</a></h3>
        	<div class="tableBox">
	         	<table style="width:100%" border="0" cellspacing="0"> 
		         	<thead>
			           	<tr class="title">
				            <td width="11%">模板名称</td>
				            <td width="8%">是否默认</td>
				            <td width="8%">是否包邮</td>
				            <td width="10%">计价方式</td>
				            <td width="8%">运送方式</td>
				            <td width="30%">发货时间</td>
				            <td width="10%">费用</td>
				            <td width="15%">操作</td>
			          	</tr>
		         	</thead>
			        <tbody  id="user_show">
			        
			        </tbody>
	        	</table>
        	</div>
      	</div>   
      	<!--分页-->
       <div class="bottom js_pageDiv">
	      <div class="pageDiv">
			&nbsp;
	      </div>
      </div>     
    </div>  
  </div>
  <!--新增成员-->
<div class="popup js_popUpaddpeople" id="addpeople-save-content"> &nbsp; </div>
<script id="addpeople-save" type="text/x-handlebars-template">
    <div class="popup_bg"></div>
    <div class="popup_box popupheight1">
      <div class="popup_bt">添加邮费<a class="popupclose js_popUpClose" href="javascript:void(0)"></a></div>
      <div class="popupform">
        <form id="" name="addsiteform" method="post" >
		  <p class="formfill">
			<label>名称：</label>
			<input  type="text" class="commtext name"/>
			<span class="errortip js_errortip"> &nbsp; </span>
		  </p>
          <p class="formfill">
			<label>是否默认：</label>
			<select class="commtext isdefault" >
			<option value="Y">是</option>
			<option value="N">否</option>
			</select>
			<span class="errortip js_errortip"> &nbsp; </span>
		  </p>
          <p class="formfill">
			<label>是否包邮：</label>
			<select class="commtext isfree" >
			<option value="Y">是</option>
			<option value="N">否</option>
			</select>
			<span class="errortip js_errortip"> &nbsp; </span>
		  </p>
		  <p class="formfill">
			<label>计价方式：</label>
			<input  type="text" class="commtext moneyType"/>
			<span class="errortip js_errortip"> &nbsp; </span>
		  </p>
		  <p class="formfill">
			<label>运送方式：</label>
			<input  type="text" class="commtext postType"/>
			<span class="errortip js_errortip"> &nbsp; </span>
		  </p>
		  <p class="formfill">
			<label>发货时间：</label>
			<input  type="text" class="commtext sendtime"/>
			<span class="errortip js_errortip"> &nbsp; </span>
		  </p>
		  <p class="formfill">
			<label>费用：</label>
			<input  type="text" class="commtext money"/>
			<span class="errortip js_errortip"> &nbsp; </span>
		  </p>
          <div class="formsubmit">
			<input type="button" value="取消" class="quit formbtn js_popUpClose">
			<input type="button" value="保存" class="save formbtn" id="addUserSave"/>
		  </div>
        </form>
      </div>
    </div>
</script>
<!--编辑邮费-->
<div class="popup js_popUpeditpeople" id="editpeople-save-content"> &nbsp; </div>
<script id="editpeople-save" type="text/x-handlebars-template">
    <div class="popup_bg"></div>
    <div class="popup_box popupheight1">
      <div class="popup_bt">编辑邮费<a class="popupclose js_popUpClose" href="javascript:void(0)"></a></div>
      <div class="popupform">
        <form id="addsiteform" name="addsiteform" method="post" >
            <p class="formfill">
			<label>名称：</label>
			<input  type="text" class="commtext name"/>
			<span class="errortip js_errortip"> &nbsp; </span>
		  </p>
          <p class="formfill">
			<label>是否默认：</label>
			<select class="commtext isdefault" >
			<option value="Y">是</option>
			<option value="N">否</option>
			</select>
			<span class="errortip js_errortip"> &nbsp; </span>
		  </p>
          <p class="formfill">
			<label>是否包邮：</label>
			<select class="commtext isfree" >
			<option value="Y">是</option>
			<option value="N">否</option>
			</select>
			<span class="errortip js_errortip"> &nbsp; </span>
		  </p>
		  <p class="formfill">
			<label>计价方式：</label>
			<input  type="text" class="commtext moneyType"/>
			<span class="errortip js_errortip"> &nbsp; </span>
		  </p>
		  <p class="formfill">
			<label>运送方式：</label>
			<input  type="text" class="commtext postType"/>
			<span class="errortip js_errortip"> &nbsp; </span>
		  </p>
		  <p class="formfill">
			<label>发货时间：</label>
			<input  type="text" class="commtext sendtime"/>
			<span class="errortip js_errortip"> &nbsp; </span>
		  </p>
		  <p class="formfill">
			<label>费用：</label>
			<input  type="text" class="commtext money"/>
			<span class="errortip js_errortip"> &nbsp; </span>
		  </p>
       		<div class="formsubmit">
				<input type="button" value="取消" class="quit formbtn js_popUpClose">
				<input type="button" value="保存" class="save formbtn" />
			</div>
             
		</form>
      </div>
    </div>
</script>
<script id="user_list" type="text/x-handlebars-template">
	{{#each dataList}}
	<tr>
		<td>{{name}}</td>
		<td class="js_isdefault" id="isdefault_{{id}}">{{isdefault}}</td>
		<td class="js_isfree" id="isfree_{{id}}">{{isfree}}</td>
		<td>{{moneyType}}</td>
		<td>{{postType}}</td>
		<td>{{sendtime}}</td>
		<td>{{money}}</td>
		<td class="operate"><span ><a href="javascript:;" class="js_edit_people" id="{{id}}">编辑 </a> |</span><span class="del_minsu"><a  class="js_delete_row" id="js_delete_row" dataId="{{id}}" href="javascript:;" >删除</a></td>
	</tr>
	{{/each}}
</script>
<#include "/common/foot.html">                              
<script type="text/javascript">
require(['common/head','tool/postage/postTempMgr'],function(head,managerlist){
	head.init('module006006001');
	managerlist.init();
  });
</script>
